{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dinesh kc</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">

</head>


<body class="container">
  {% if user.is_authenticated %} 
  <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="{% url 'index' %}" class="navbar-brand">Home</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="{% url 'credential:user_logout' %}" class="nav-item nav-link active">Logout</a>
                <a href="{% url 'credential:clicked' %}" class="nav-item nav-link active">Hacked</a>
  
              
            </div>
           
        </div>
      </nav>

    {% else %}
 
    
          <nav class="navbar navbar-expand-md navbar-light bg-light">
                <a href="{% url 'index' %}" class="navbar-brand">Home</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="{% url 'credential:user_login' %}" class="nav-item nav-link active">Login</a>
                        <a href="{% url 'credential:register' %}" class="nav-item nav-link active">Signup</a>
                      
                    </div>
                   
                </div>
              </nav>
    {% endif %}
      
    {% block body_block %}


    {% endblock %}
    <!-- Footer -->
{% block footer %}
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
</footer>

{% endblock %}
    <!-- Bootstrap core JavaScript -->
    {% block js %}
    <script src='{% static "js/jquery.min.js" %}'></script>
    <script src='{% static "js/bootstrap.bundle.min.js" %}'></script>

    <!-- Plugin JavaScript -->
    <script src='{% static "js/jquery.easing.min.js" %}'></script>

    <!-- Custom JavaScript for this theme -->
    <script src='{% static "js/scrolling-nav.js" %}'></script>
    {% endblock %}

</body>

</html>